@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .conexo-btn.bg-violet-500 {
    @apply text-violet-50;
  }

  .conexo-btn {
    @apply bg-violet-100 p-6 rounded-xl flex items-center hover:cursor-pointer focus-within:scale-90 transicao uppercase h-auto
  }

  .border-error {
    @apply border-red-500 focus-within:border-red-500 !important;
  }

  .border-valid {
    @apply border-emerald-500 focus-within:border-emerald-500 !important;
  }

  .transicao {
    @apply transition duration-300 ease-in-out hover:cursor-pointer !important
  }

  .btn-primary {
    @apply bg-violet-500 hover:bg-violet-700 disabled:bg-violet-500/50 text-zinc-50 rounded-xl py-2 px-5 gap-x-2 hover:cursor-pointer disabled:cursor-not-allowed hover:disabled:bg-violet-500/50 transicao
  }

  .btn-secundary {
    @apply bg-violet-200/60 enabled:hover:bg-violet-200 text-violet-700 rounded-xl py-2 px-5 gap-x-2 hover:cursor-pointer disabled:cursor-not-allowed transicao
  }

  .btn-tertiary {
    @apply bg-violet-50 hover:bg-violet-100 disabled:bg-violet-50/50 text-violet-500 rounded-xl py-2 px-5 gap-x-2 hover:cursor-pointer disabled:cursor-not-allowed hover:disabled:bg-violet-50/50 transicao
  }


  .btn-danger {
    @apply bg-red-500 hover:bg-red-700 disabled:bg-red-500/50 text-zinc-50 rounded-xl py-2 px-5 gap-x-2 hover:cursor-pointer disabled:cursor-not-allowed hover:disabled:bg-red-500/50 transicao
  }

  .btn-link {
    @apply hover:text-violet-500 text-current py-2 px-5 gap-x-2 hover:cursor-pointer transicao
  }

  .btn-ghost {
    @apply bg-transparent hover:bg-violet-200/60 text-current rounded-xl py-2 px-5 gap-x-2 hover:cursor-pointer transicao
  }

  .input {
    @apply rounded-2xl border-none py-3 px-8 outline-none border-0 ring-1 ring-inset ring-violet-300 focus:ring-2 focus:ring-violet-500 focus:ring-inset bg-transparent shadow
  }


  select.input {
    @apply bg-violet-100;
  }

  .label {
    @apply block text-sm font-semibold capitalize leading-6 text-violet-500
  }

  .toast {
    @apply flex flex-row gap-2 items-center font-medium p-4 rounded-2xl shadow z-20 absolute bottom-[10];
  }

  .appear {
    animation: appear 100ms ease forwards;
  }

  @keyframes appear {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
      margin-top: 0.5rem;
    }
  }

  .disappear {
    animation: disappear 300ms ease forwards;
  }

  @keyframes disappear {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      scale: 90%;
      display: none;
    }
  }

}

.btn-loader {
  width: 1.3rem;
  height: 1.3rem;
  --c: radial-gradient(farthest-side, white 92%, #0000);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 0.3rem 0.3rem;
  background-repeat: no-repeat;
  animation: s7 1s infinite;
}


.btn-loader.loader-white {
  --c: radial-gradient(farthest-side, #8b5cf6 92%, #0000);
}

@keyframes s7 {
  to {
    transform: rotate(.5turn)
  }
}

/* .btn-loader{display: none;} */